[user]
    name = Ilya K.
    email = ilyusha_k@icloud.com
    signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILIXkGiXNWzcnIs3vWhcJOkSvElEDRacHoDIo4j7unKc
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[core]
    excludesFile = ~/.gitignore_global
    editor = "nvim"
    pager = "nvim -R +\"AnsiEsc\" +\"set nowrap\" -"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = true
[rebase]
    autoStash = true
    autoSquash = true
[push]
    autoSetupRemote = true
[gpg]
    format = ssh
[commit]
    gpgSign = true
[rerere]
    enabled = true
    autoUpdate = true
[branch]
    autoSetupRebase = always
[merge]
    conflictStyle = diff3
    tool = "nvim"
[mergetool]
    keepBackup = false
    prompt = false
[mergetool "nvim"]
    cmd = "nvim -f -c \"Gvdiffsplit!\" \"$MERGED\""
