[user]
    name = Ilya K.
    email = ilyafwrs@gmail.com
    signingKey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILIXkGiXNWzcnIs3vWhcJOkSvElEDRacHoDIo4j7unKc
[core]
    excludesFile = ~/.gitignore_global
    editor = "nvim"
    pager = "nvim -R +\"AnsiEsc\" +\"set nowrap\" -"
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = true
[rebase]
    autoStash = true
    autoSquash = true
[push]
    autoSetupRemote = true
    followTags = true
[gpg]
    format = ssh
[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
    gpgSign = true
[rerere]
    enabled = true
    autoUpdate = true
[branch]
    autoSetupRebase = always
[diff]
    noprefix = true
[difftool "kitty"]
    prompt = false
    trustExitCode = true
    cmd = kitten diff $LOCAL $REMOTE
[log]
    abbrevCommit = true
[status]
    showUntrackedFiles = all
[merge]
    conflictStyle = diff3
    tool = "nvim"
[mergetool]
    keepBackup = false
    prompt = false
[mergetool "nvim"]
    cmd = "nvim -f -c \"Gvdiffsplit!\" \"$MERGED\""
[alias]
    kd = "!git --no-pager difftool --tool=kitty --no-symlinks --dir-diff $@ && printf \"\\033c\" #"
