set hls
set ideajoin
set relativenumber
set number
set tabstop=4
set shiftwidth=4
set expandtab
set autoindent
set nowrap
set ignorecase
set smartcase
set cursorline
set termguicolors
set background=light
set signcolumn=yes
set backspace=indent,eol,start
set clipboard^=unnamedplus,ideaput
set splitright
set splitbelow
set iskeyword+=-
set shortmess+=I
set completeopt=menu,menuone,noselect
set nolist
set wrap
set breakindent
set linebreak
set shell=/opt/homebrew/bin/fish
set easymotion
let &listchars='eol:↵,space:·,precedes:<,extends:>,tab:~ ,nbsp:␣'
let &fillchars='eob: '
let &showbreak='   '
let g:mapleader=' '

nnoremap x "_x
onoremap i/ :<c-u>normal! T/vt/<cr>
onoremap a/ :<c-u>normal! F/vf/<cr>
vnoremap i/ :<c-u>normal! T/vt/<cr>
vnoremap a/ :<c-u>normal! F/vf/<cr>
nmap <leader>n :nohl<cr>
nmap <leader>l :set list!<cr>
nmap <leader>+ <c-a>
nmap <leader>- <c-x>
nmap <leader>sv <c-w>v
nmap <leader>sh <c-w>s
nmap <leader>se <c-w>=
nmap <leader>sx :close<cr>
nmap <leader>to :tabnew<cr>
nmap <leader>tx :tabclose<cr>
nmap <leader>tn :tabn<cr>
nmap <leader>tp :tabp<cr>
map <leader>ha <Plug>(easymotion-jumptoanywhere)
map <leader>hw <Plug>(easymotion-bd-w)
map <leader>hs <Plug>(easymotion-bd-f)
map ,w [w
map ,e ]w
map ,b [b
map ci,w [bv]ws

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'inkarkat/vim-ReplaceWithSameIndentRegister'
