    * {
    --font-code: "Input", "SF Mono", monospace !important;
}

div[class^=message] code {
    font-size: 13px !important;
}

div[class^=markup][role=textbox][class*=editor] span[class*=inlineCode] {
    font-size: 13px !important;
}

li[class^=channel]:has(a[href="/shop"]) {
    display: none !important;
}

div[class^=channelAppLauncher] {
    display: none;
}

div[class^=channelTextArea] div[class^=buttons] > :is(div, button):not(:has(button[class*=emojiButton])):not(div[class*=separator]):not(div[class*=separator] + div) {
    display: none;
}

div[class^=entryPointButtonContainer]:has(button[class^=entryPointAppCommandButton]) {
    display: none;
}

div[class^=member] > div[class^=childContainer] > div[class^=container]:has(video[src*=nameplates]) {
    display: none;
}
