* {
    --font-code: "PragmataPro Mono", "SF Mono", monospace !important;
}

li[class^=channel]:has(a[href="/shop"]) {
    display: none !important;
}

div[class^=channelAppLauncher] {
    display: none;
}

div[class^=channelTextArea] div[class^=buttons] > :is(button, div[class^=expression-picker]:not(:has(button[class*=emojiButton]))) {
    display: none;
}
